@using MvcSaleProject.Models
<h2>Full information about sales</h2>

<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Date
        </th>
        <th>
            Client
        </th>
        <th>
            Goods
        </th>
        <th>
            Amount
        </th>
    </tr>
        @using (var dataBase = new UsersContext())
        {

            foreach (var item in dataBase.Archive)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelUser => item.SaleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelUser => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelUser => item.Client)
                    </td>
                    <td>
                        @Html.DisplayFor(modelUser => item.Goods)
                    </td>
                    <td>
                        @Html.DisplayFor(modelUser => item.Amount)
                    </td>

                </tr>
            }

        }
    

</table>